.contenedor-testimonio {
    width: 80vw;
    margin: 1px 1px 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
}

.imagen-testimonio {
    width: 18vw;
    padding: 3%;
}

.contenedor-testimonio {
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.nombre-testimonio {
    text-align: center;
    font-size: 1.8rem;
}

.cargo-testimonio {
    font-size: 1rem;
    text-align: left;
    padding: 5%;
}

.texto-testimonio {
    font-size: 1.1rem;
    text-align: left;
    padding: 5%;
}