*{
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 1.3vw;
  background-color: #f5f6f7;
}
h1{
  font-size: 5vw;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: left;
}
.App{
  min-height: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  min-height: 8vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}