.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: beige;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #28c765;
    outline: none;
}

.tarea-boton {
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2fa85e;
    color: azure;
    text-transform: capitalize;
}