.contador{
    min-width: 5vw;
    max-width: 33vw;
    height: 15vw;
    font-size: 5vw;
    padding: 1%;
    color: white;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 15px;
 
}