.boton-contenedor{
height: 50px;
display: flex;
flex: 1 1;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 38px;
background-color: #1b1b32;
color: white;
border-radius: 25px;
border: 2px solid white;
cursor: pointer;
margin: 4px;
user-select: none;
}

.operador{
    background-color: #474600;
color: white;
}
.boton-contenedor:hover {
    background-color: #13158d;
}
.operador:hover{
    background-color: rgb(209, 75, 75);
}