.App{

  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.fcc-logo-cont{
  width: 100%;
  height: 5vw;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcc-logo{
  height: 5vw;
}
.cont-calc{
  width: 22vw;
  padding: 14px;
  background-color: #99c9ff;
  border-radius:  10px;
  border: 3px solid white;
}
.fila{
margin: 4px;
display: flex;
align-items: center;
justify-content: center;
}